.farmDetails {
  .farmImages {
    display: flex;
    justify-content: space-between;
  }
  .farmContainer {
    // Farm detail (ie. banner)
    .farmProfileRow {
      display: flex;
      margin-block: 1.6rem;
      img {
        border-radius: 50%;
      }

      // Farm detail of the farm (ie. left side of the profile)
      .flexProfile {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-inline-start: 2rem;
        margin-inline-end: 10rem;
        * {
          margin: 0;
        }
        p {
          font-size: 0.85rem;
        }
      }

      // Farm locations (ie. right side of the profile banner)
      .farmLocation {
        border-left: 1px solid #e0e0e0;
        padding-inline: 2rem;
        p {
          font-size: 0.95rem;
          margin: 0;
        }
      }
    }

    // Farm announcement and about row
    .farmAboutRow {
      display: flex;

      h5 {
        font-size: 1.2rem;
      }
      .farmAboutAnnouncement {
        margin-inline-end: 10rem;
        flex-shrink: 0;
        * {
          margin: 0;
        }
        p {
          font-size: 0.85rem;
        }
      }

      .farmAbout {
        padding-inline-end: 6rem;
        p {
          font-size: 0.95rem;
          height: 20px;
          overflow: hidden;
          &#more {
            height: auto;
            overflow: visible;
          }
        }
        a {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }
}
