@use "../config";

// All cards
.card {
  padding: 1rem;
  border: none;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
}

// Review stars
.reviewStarsContainer {
  display: flex;
  align-items: center;
  color: config.$custom-primary;

  h5 {
    margin: 0 0.5rem 0 0;
  }
}
// Review stars for order
.orderReviewStarsContainer {
  display: flex;
  align-items: center;
  color: config.$custom-primary;
  justify-content: center;

  h5 {
    margin: 0 0.5rem 0 0;
  }
}

// Review pills for order
.orderReviewPillsContainer {
  display: flex;
  font-size: 18px;
  gap: 1rem;
  margin-block: 1rem;
  .badge {
    cursor: pointer;
  }
}

// Product badge
.badgesContainer {
  display: flex !important;
  gap: 6px;
  .badge {
    padding: 2px 5px;
    font-size: 11px;
    &.bg-custom-primary-outline {
      color: config.$custom-primary;
      border: 1px solid config.$custom-primary;
    }
    &.bg-warning {
      border-block: none;
      border-inline: 2px dotted white;
    }
    &.bg-partner {
      display: flex;
      color: #9560b8;
      border: 1px solid #9560b8;
      svg {
        font-size: 16px;
        margin-right: 0.4rem !important;
      }
      p {
        font-size: 12px;
        margin: 0;
        font-weight: 500;
      }
    }
  }
}

// Product card
.farmItemCard {
  position: relative;
  padding: 0.6rem;
  border: none;
  cursor: pointer;
  transition: box-shadow 0.2s ease-out;

  &:hover {
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.1);
  }
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.6rem 1rem;
  }
  .card-img-top {
    width: 200px;
    height: 180px;
  }

  .farmItmCardRemove {
    position: absolute;
    width: 15%;
    right: 0px;
    padding: 3px 0px;
  }
  .card-title {
    margin: 0;
  }
  .card-text {
    span {
      display: block;
      margin: 0;
    }
    .price {
      font-weight: bold;
      // font-size: 14px;
    }
    .stock {
      font-size: 15px;
      &-out {
        font-size: 14px;
        font-weight: bold;
        color: red;
      }
    }
    .province {
      font-size: 14px;
    }
  }
}

// Order card
.orderCardContainer {
  margin-block-end: 1rem;
  // Farm shop card
  .farmShopFlex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;

    div:first-child {
      display: flex;
      gap: 0.5rem;
      align-items: center;

      h5 {
        margin: 0;
      }
      svg {
        font-weight: 400;
      }
      .productShopeProfileButtons {
        display: flex;
        align-items: center;
        padding: 0.2rem 0.4rem;
        font-size: 14px !important;

        svg {
          margin-inline-end: 0.3rem;
        }
      }
    }
  }

  // Product display (image, name, variation, price)
  .productDisplayFlex {
    display: flex;
    gap: 2rem;
    padding-block: 0.5rem;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    cursor: pointer;
    * {
      margin: 0;
    }

    .productDisplayFlexImage {
      width: 130px;
    }
    .productNameVariations {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0.4rem;
    }
    .orderCardPriceTag {
      margin: auto 0 auto auto;
      display: flex;
      gap: 0.5rem;
      align-items: center;
    }
  }
  // Order date, Btn
  .orderDateBtn {
    display: flex;
    margin-top: 0.5rem;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    * {
      margin: 0;
    }
  }
}

// Alert
.alertSubmiited {
}

// Progress stepper card
.progressStepperCard {
  padding: 2rem 2rem 1rem 2rem;

  // OrderID, status and back btn
  div.stepperOrderIdFlex {
    display: flex;
    padding-bottom: 1rem;

    * {
      margin: 0;
    }
    & > a:first-child {
      color: #757575;
      text-decoration: none;
      flex: 1;
    }
    & > div {
      display: flex;
      gap: 0.5rem;

      & > p:first-child {
        padding-right: 0.5rem;
        border-right: 2px solid #339bd1;
      }
    }
  }

  // Stepper mixins
  @mixin progressCircle {
    position: relative;
    text-align: center;
    padding: 0.8rem;
    border-radius: 50%;
    margin-bottom: 0.6rem;

    div {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 50%;
      height: 100%;
      width: 100%;
      background-color: white;
      z-index: 2;
    }
    svg {
      position: inherit;
      font-size: 2.5rem;
      z-index: 3;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      height: 4px;
      width: 221%;
      left: 100%;
      background-color: lighten(green, 6);
      z-index: 1;
    }
  }

  // Stepper
  div.stepperContainer {
    display: flex;
    border-top: 1px dotted #e8e8e8;
    border-bottom: 1px dotted #e8e8e8;
    padding: 1rem 4rem 1rem 4rem;
    justify-content: space-evenly;
    overflow-x: auto;

    // Each progress container (ie. step)
    & > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      width: 20%;

      p {
        margin: 0;
        &.text-secondary {
          font-size: 14px;
        }
      }

      .progressCircle {
        @include progressCircle;
        border: 4px solid #666666;
        svg {
          color: #666666;
        }
        &::before {
          background-color: #666666;
        }

        // Green when finish
        &-finish {
          @include progressCircle;
          border: 4px solid lighten(green, 6);
          svg {
            color: lighten(green, 7);
          }
        }
      }
      // Remove line to right for the last one
      &:last-child {
        .progressCircle,
        .progressCircle-finish {
          &::before {
            display: none;
          }
        }
      }
    }
  }

  // Buttons container
  div.buttonsContainer {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
  }
}

// Progress tracking modal (shipment tracking)
.progressTrackingModal {
  position: absolute;
  background-color: white;
  padding: 2rem;
  border-radius: 0.4rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  height: fit-content;
  z-index: 5;

  .progressTrackingModalBtn {
    display: flex;
    gap: 0.8rem;
    justify-content: flex-end;
  }
}

// Product, order comment (review)
.productDetailComment {
  padding-bottom: 1rem;
  .productDetailCommentCard {
    margin-block: 1rem;
  }
  .commentContainer {
    display: flex;
    margin-block: 1.4rem;

    img {
      border-radius: 50%;
    }
    p {
      margin: 0;
    }
    .commentProfileImageDiv {
      width: clamp(9px, 40%, 82px);
    }
    .reviewContentContainer {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;
      margin-inline-start: 1rem;

      .reviewTagsContainer {
        display: flex;
        font-size: 18px;
        gap: 1rem;
      }
    }
  }
}
