@use "../config";

.productPageMain {
  background-color: #f5f5f5;
  .card {
    padding: 1rem;
    border: none;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
  }

  // Top section
  & section:first-child {
    padding-block-start: 3rem;
  }
  .productDetailBannerCard {
    .productDetailBanner {
      display: flex;
      gap: 4rem;

      // Product image gallery
      .productDetailBannerImageGallery {
        display: flex;
        gap: 1rem;
        width: 42%;

        // Image slider
        .imageGallerySlider {
          width: 20%;
          margin-inline-end: 1rem;

          ul {
            list-style: none;
            padding: 0;

            li {
              border-radius: 10px;
              &:not(:last-child) {
                margin-block-end: 10px;
              }
              &.selected {
                border: 1px solid config.$custom-primary;
              }
              img {
                border-radius: 10px;
              }
            }
          }
        }

        // Product image preview
        .productImagePreview {
          width: 74%;
        }
      }

      // Product detail content
      .productDetailBannerContent {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h2 {
          font-size: 2.2rem;
        }
        .ratingsSoldContainer {
          display: flex;
          gap: 1rem;
          & div:first-child {
            padding-right: 1rem;
            border-right: 1px solid #dbdbdb;
          }
          p {
            margin: 0;
          }
        }
        .productQuantityFlex {
          display: flex;
          align-items: center;
          gap: 1rem;

          div {
            display: flex;
            align-items: center;
            gap: 1rem;
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
            input[type="number"] {
              width: 4rem;
              font-size: 18px;
              text-align: center;
              -moz-appearance: textfield;
            }
            svg {
              font-size: 24px;
            }
          }
          p {
            margin: 0;
          }
        }
        .text-secondary {
          margin: 0 0 0.4rem 0;
        }
      }
    }
  }
  // Shop profile card
  .productShopeProfileCard {
    margin-top: 1rem;

    .productShopeProfileContent {
      display: flex;
      padding-inline: 2rem;
      gap: 2rem;

      img {
        border-radius: 50%;
      }
      .productShopeProfileLeft {
        display: flex;
        flex-direction: column;
        width: 30%;
        border-right: 2px solid #f2f2f2;

        div {
          display: flex;
          gap: 1rem;
        }
        .shopActiveSign {
          display: flex;
          align-items: center;
          margin-block-end: 1rem;

          p {
            margin: 0;
            font-weight: bold;
          }
        }
        .productShopeProfileButtons {
          display: flex;
          align-items: center;
          svg {
            margin-inline-end: 0.3rem;
          }
        }
      }
      .productShopeProfileRight {
        //TODO
      }
    }
  }

  // Product detail section
  .productDetailBody {
    .productDetailBodyCard {
      margin-top: 1rem;
    }
  }
}
